[project]
	description = Project plan loader plugin for redmine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Stearn (simonstearn)
[access "refs/for/refs/*"]
	read = group user/Simon Stearn (simonstearn)
	push = group user/Simon Stearn (simonstearn)
	label-Code-Review = -2..+2 group user/Simon Stearn (simonstearn)
	label-Verified = -1..+1 group user/Simon Stearn (simonstearn)
	rebase = group user/Simon Stearn (simonstearn)
	removeReviewer = group user/Simon Stearn (simonstearn)
	submit = group user/Simon Stearn (simonstearn)
[access "refs/heads/*"]
	read = group user/Simon Stearn (simonstearn)
	create = group user/Simon Stearn (simonstearn)
	push = +force group user/Simon Stearn (simonstearn)
	pushMerge = group user/Simon Stearn (simonstearn)
[access "refs/tags/*"]
	push = +force group user/Simon Stearn (simonstearn)
	pushTag = group user/Simon Stearn (simonstearn)
	pushSignedTag = group user/Simon Stearn (simonstearn)
